.footer {
    padding: 10rem 15rem;
    background-color: #222f3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.footer-logo {
    height: 16rem;
    width: 16rem;
}

.footer-logo img {
    width: 100%;
}

.footer-link li{
    list-style: none;
    margin-bottom: 1.5rem;
}

.footer-link li a {
    color: #fff;
    transition: all 0.4s;
}

.footer-link li a:hover {
    text-decoration: underline;
}