@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #222f3e;
    position: relative;
}

section {
    margin-top: 7rem;
    padding: 2rem 10rem;
}

/* Components */

.grid {
    display: grid;
    gap: 3rem;
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    outline: none;
    border: none;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.btn-primary {
    background: #341f97;
    color: #fff;
    transition: all 0.4s;
}

.btn-primary:hover {
    border-radius: 8px;
    background: #2a1979;
}

.btn-outline {
    background: transparent;
    border: 1px solid #341f97;
    color: #fff;
    transition: all 0.4s;
}

.btn-outline:hover {
    border-radius: 8px;
    background: #2a1979;
}

.btn a {
    color: #fff;
}

.heading-primary {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

@media screen and (max-width: 991px) {
    section, main {
        margin-top: 5rem;
        padding: 1rem 5rem;
    }
    .col-3,
    .col-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    section, main {
        margin-top: 3rem;
        padding: 1rem;
    }
    .grid {gap: 2rem;}
    .col-2,
    .col-3,
    .col-4 {grid-template-columns: repeat(1, 1fr);}
}